// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newp {
	margin: 30px;
}

#all {
	font-family: 'Lobster', cursive;
	margin-bottom: 40px;
}

.field {
	margin: 10px 0px;

}