<h1>All products</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to "#{product.name}", "/products/#{product.id}" %> <%= product.description %> <%= product.formatted_price %></li>
  <% end %>
</ul>